@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@layer components {
  img.full-page-image {
  	@apply fixed z-10 h-auto;
  	width: 90dvw;
  	top: 10dvh;
  }
	@media (min-width: 640px) {
	  img.full-page-image {
			left: 6rem;
			width: auto;
			top: 6dvh;
			height: 80dvh;
		}
	}
}
