<!DOCTYPE html>
<html>
    <head>
        <title>Vetspire Take Home Project</title>
        <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    </head>

    <body>
        <div id="root"></div>
    </body>

    <script phx-track-static src={~p"/assets/app.js"}></script>
</html>
